@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	background-color: lightgrey;
	font-family: 'Noto Sans', sans-serif;
	font-size: 0.9rem;
}

@media (min-width: 30em) {
	body {
		padding: 0 1rem;
	}
}

@media (min-width: 36em) {
	body {
		font-size: 0.95rem;
	}
}

@media (min-width: 48em) {
	body {
		font-size: 1rem;
	}
}

@media (min-width: 62em) {
	body {
		font-size: 1.05rem;
	}
}

@media (min-width: 75em) {
	body {
		font-size: 1.1rem;
	}
}

@media print {
    body {
        padding: 0;
        margin: 0;
        font-size: 0.9rem;
    }
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
	margin-bottom: 1rem;
}

h1 {
	font-size: 180%;
	text-transform: uppercase;
}

@media (min-width: 36em) {
	h1 {
		margin-bottom: 4rem;
	}
}

h2 {
	font-size: 130%;
}

h3 {
	font-size: 120%;
}

h4 {
	font-size: 110%;
}

h5 {
	font-size: 105%;
}

h6 {
	font-size: 100%;
}

ul {
	margin-left: 1rem;
}

a {
	color: inherit;
	text-decoration: none;
}

#body {
	max-width: 52em;
	color: #0C0A09;
	background-color: #F6F4F3;
	border-radius: 0.15rem;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	overflow: hidden;
}

@media (min-width: 30em) {
	#body {
		margin: 1rem auto;
	}
}

@media (min-width: 36em) {
	#body {
		display: grid;
		grid-template-columns: 1.5fr 2.5fr;
	}
}

@media print {
    #body {
        display: grid;
		grid-template-columns: 1.5fr 2.5fr;
        max-width: 100%;
        height: 100%;
        margin: 0;
    }
}

#body_aside {
	color: #F6F4F3;
	background-color: #0C0A09;
}

@media (min-width: 30em) {
	#body_aside {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 36em) {
	#body_aside {
		display: block;
	}
}

@media print {
    #body_aside {
        display: block;
    }
}

#body_aside_content {
	padding: 1rem;
}

@media (min-width: 48em) {
	#body_aside_content {
		padding: 2rem;
	}
}

@media print {
    #body_aside_content {
        padding: 4rem 3rem;
    }
}

#body_aside_content h2 {
	margin: 0;
	font-size: 100%;
	font-weight: 400;
}

#body_aside_content #mail, #body_aside_content #phone {
	font-size: 125%;
	font-weight: 600;
}

#body_aside_content a {
	display: inline-flex;
	align-items: center;
	margin: 0.5rem 1rem 0.5rem 0;
}

@media (min-width: 36em) {
	#body_aside_content a {
		width: 100%;
		margin-right: 0;
	}
}

#body_aside_content a:not(.link) {
	display: block;
	margin: 0.5rem 0 1rem;
}

@media (min-width: 36em) {
	#body_aside_content a:not(.link) {
		margin-bottom: 2rem;
	}
}

#body_aside_content a svg {
	width: 1rem;
	height: 1rem;
	margin-right: 0.5rem;
}

#body_aside_content a svg path {
	fill: #F6F4F3;
}

#body_aside_content a:hover {
	color: #DDD92A;
}

#body_aside_content a:hover path {
	fill: #DDD92A;
}

#body_aside picture {
	display: block;
	position: relative;
	width: 100%;
	height: 0;
	margin-bottom: 1rem;
	padding-top: 115%;
	overflow: hidden;
}

@media (min-width: 30em) {
	#body_aside picture {
		height: 100%;
		padding-top: 0;
		margin-bottom: 0;
	}
}

@media (min-width: 36em) {
	#body_aside picture {
		height: 0;
		padding-top: 115%;
		margin-bottom: 1rem;
	}
}

#body_aside picture img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

#body_main {
	padding-bottom: 2rem;
}

#body_main section {
	padding: 2rem 1rem 0;
}

@media (min-width: 30em) {
	#body_main section {
		padding: 2rem 2rem 0;
	}
}

@media print {    
    #body_main section {
		padding-top: 3rem;
    }
    
    #body_main section:nth-of-type(1) {
		padding-top: 5rem;
    }
}

.skills {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;
}

.skills_column {
	position: relative;
}

.skills_column::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 100%;
	background-color: rgb(170, 170, 170);
}

.skills_column .skill h3, .skills_column .skill a {
	position: relative;
	padding-left: 1rem;
	margin: 0;
}

.skills_column .skill h3::before, .skills_column .skill a::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 100%;
	z-index: 2;
}

.skills_column .skill h3 {
	font-size: 100%;
}

.skills_column .skill h3::before {
	background-color: #0C0A09;
}

.skills_column .skill a {
	display: block;
	padding: 0.25rem 0 0.25rem 1rem;
}

.skills_column .skill a:hover {
	color: #014C8D;
}

.skills_column .skill a:hover::before {
	background-color: #014C8D;
}

.skills_column .skill:not(:last-child) {
	padding-bottom: 1rem;
}